@model Final2Sis457jjce.Models.Libro

@{
    ViewData["Title"] = "Elimiar Libro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid pt-4 px-4">
    <h1>Elimiar Libro</h1>

    <h3>¿Estas seguro que desea ELIMINAR el Libro?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">Isbn</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Isbn)
            </dd>
            <dt class="col-sm-2">Edición</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Edicion)
            </dd>
            <dt class="col-sm-2">Título</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Titulo)
            </dd>
            <dt class="col-sm-2">Resumen</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Resumen)
            </dd>
            <dt class="col-sm-2">Editorial</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Editorial)
            </dd>
            <dt class="col-sm-2">Fecha de Publicación</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FechaPublicacion)
            </dd>
            <dt class="col-sm-2">Usuario Registro</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UsuarioRegistro)
            </dd>
            <dt class="col-sm-2">Fecha Registro</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FechaRegistro)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            <a asp-action="Index">Regresar a la Lista de Libros</a>
        </form>
    </div>
</div>
